.login-card {
    max-width: 400px;
}
input:disabled {
    cursor: not-allowed;
}
#registrationIMG {
    width: 100%;
    max-width: 300px;
    position: absolute;
    right: 0;
    z-index: -1;
    filter: opacity(0.4);
    animation: float 6s ease-in-out infinite;
}
#registrationIMGtwo {
    width: 100%;
    max-width: 300px;
    position: absolute;
    z-index: -1;
    filter: opacity(0.4);
    left: -79px;
    top: 500px;
    transform: rotate(-6deg);
    animation: float-reverse 4s ease-in-out infinite;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
@keyframes float-reverse {
	0% {
		
		transform: translatey(5px);
	}
	50% {
		
		transform: translatey(-10px);
	}
	100% {
		
		transform: translatey(5px);
	}
}
