<nav class="navbar navbar-expand-lg navbar-dark dark-bg">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo-white.webp" alt="Magnet website logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" data-bs-toggle="collapse" data-bs-target="#navcollapse">Vacantes</a>
          </li>
          <!-- <li class="nav-item">
            <a 
            class="nav-link" 
            routerLink="courses" 
            placement="bottom" 
            ngbTooltip="Aumenta tu salario aprendiendo las habilidades mas demandadas" 
            data-bs-toggle="collapse" 
            data-bs-target="#navcollapse">Cursos <i class="bi bi-lightning-charge-fill text-primary"></i></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="about" data-bs-toggle="collapse" data-bs-target="#navcollapse">Sobre Magnet</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="admin-panel">Mi Cuenta</a>
          </li>  -->
        </ul>
        <button class="btn primary btn-sm" routerLink="login"*ngIf="!(auth.userData | async)">Iniciar Sesión</button>
        <button 
        class="btn primary btn-sm" 
        routerLink="new-job" 
        data-bs-toggle="collapse" 
        data-bs-target="#navcollapse"
        *ngIf="auth.userData | async"
        >Publica un trabajo</button>
        <ul class="navbar-nav" *ngIf="auth.userData | async">
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
              Mi Perfil
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-start animate__animated animate__fadeInDown fast">
              <a ngbDropdownItem routerLink="admin-panel">Panel Administrativo</a>
              <a ngbDropdownItem (click)="signOut()">Cerrar Sesión</a>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>