<div class="container-fluid">
    <div class="container">
        <div class="row text-center p-5">
            <div class="col-md-8 offset-md-2">
                <h2><strong>We work remotely</strong></h2>
                <p>
                    We Work Remotely is the <strong>largest remote work community in the world.</strong> With over 3M visitors, 
                    WWR is the number one destination to find and list incredible remote jobs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="d-flex justify-content-between mb-4 ">
                    <h5 class="float-start mb-0"><strong>Jobs</strong></h5>
                    <div>
                        <select name="" id="" class="form-select float-end mb-2">
                            <option value="">More recent</option>
                        </select>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Company</h5>
                                <h4><strong>Position - Remote</strong></h4>
                                <p class="mb-0">Job Type / Location</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <p class="mb-0">March 4, 2022</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <button class="btn primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>