<div class="container-fluid">
    <div class="container">
        <div class="row text-center p-5">
            <div class="col-md-12 col-lg-9 mx-auto">
                <h2><strong>Encuentra ese trabajo que deseas</strong></h2>
                <h4>
                    Magnet es el lugar donde el talento y las empresas se atraen y conectan.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="d-flex justify-content-between mb-4 ">
                    <h4 class="float-start mb-0"><strong>Empleos</strong></h4>
                    <div>
                        <select name="" id="" class="form-select float-end mb-2">
                            <option value="">Mas recientes</option>
                        </select>
                    </div>
                </div>
                <div *ngFor="let job of activeJobs" [class]="job.date == todaysDate? 'card new' : 'card'">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>{{job.company}}</h5>
                                <h4>
                                    <strong>{{job.title}} - 
                                        <span *ngIf="job.isremote"> Remoto</span>
                                        <span *ngIf="!job.isremote"> Presencial</span>
                                    </strong>
                                </h4>
                                <p class="mb-0">{{job.type}} / {{job.location}}</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <p class="mb-0">{{job.date}}</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <span class="badge new"><strong>NUEVO</strong></span>
                            </div>
                            <div class="highlight-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>