<div class="container-fluid hero-container-bg">
    <div class="container main animate__animated animate__fadeIn">
        <div class="row text-center pt-5 pb-5">
            <div class="col-auto pt-4 pb-4">
                <h1 class="title">
                    <strong>
                        Mas flexibilidad. La posición que buscas. Una nueva carrera. 
                        <span class="text-accent">Todo Comienza aqui.</span>
                    </strong>
                </h1>
                <!-- <h4 class="description">
                    Magnet es el lugar donde el talento y las empresas se atraen y conectan.
                </h4> -->
                <!-- barra de busqueda y filtrado -->
                <div class="w-100 mt-4 mb-3">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text floating h-100" id="basic-addon1"><i class="bi bi-search"></i></span>
                            <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Desarrollador" autofocus>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container animate__animated animate__fadeIn">
        <div class="row">
            <div class="col-auto">
                <div class="d-flex justify-content-end">
                    <div class="credits">Imagen de <em>pexels.com</em></div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="container-fluid" (window:scroll)="logScroll($event)">
    <div class="container animate__animated animate__fadeIn mt-5 mb-5">
        <div class="d-flex justify-content-center" *ngIf="activeJobs.length == 0">
            <div class="spinner-border" role="status">
            </div>
        </div>
        <div class="row" *ngIf="activeJobs.length != 0">
            <div class="col-md-12 col-lg-9 mx-auto animate__animated animate__fadeInUp">
                <div class="d-flex justify-content-between mb-4">
                    <h4 class="float-start mb-0"><strong>Vacantes</strong></h4>
                    <!-- <div>
                        <select name="" id="" class="form-select float-end mb-2">
                            <option value="">Mas recientes</option>
                        </select>
                    </div> -->
                </div>
                <div *ngFor="let job of activeJobs | stringFilter: filter | paginate: { itemsPerPage: 10, currentPage: p, id: 'vacantes' }" [class]="job.date == todaysDate? 'card new' : 'card'" routerLink="/job/{{job.key}}">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>{{job.company}}</h5>
                                <h4>
                                    <strong>{{job.title}} - 
                                        <span *ngIf="job.isremote"> Remoto</span>
                                        <span *ngIf="!job.isremote"> Presencial</span>
                                    </strong>
                                </h4>
                                <p class="mb-0">{{job.type}} / {{job.location}}</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <p class="mb-0">{{job.date}}</p>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <span class="badge new" *ngIf="job.date == todaysDate"><strong>HOY</strong></span>
                            </div>
                            <!-- <div class="highlight-bar"></div> -->
                        </div>
                    </div>
                </div>
                <div *ngIf="activeJobs.length > 9" class="d-flex-justify-content-center mt-3">
                    <pagination-controls (pageChange)="p = $event" id="vacantes"
                    [previousLabel]="labels.previousLabel"
                    [nextLabel]="labels.nextLabel"
                    [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                    [screenReaderPageLabel]="labels.screenReaderPageLabel"
                    [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                    >
                        
                </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>