.card {
    padding: 0.33rem 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    &:hover {
        background-color: #f1f5ff;
    }
    &.new {
        background-color: #88b8fe40;
        .badge.new {
            background-color: #0c6ffc;
            color: #ffffff;
        }
        .highlight-bar {
            float: right;
            position: absolute;
            border-left: 4px solid #ffd500;
            height: 90%;
            right: -10px;
            top: 5%;
        }
    }
}
.input-group-text.floating {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 9;
}
.input-group .form-control {
    padding-left: 42px;
}
.hero-container-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: #131314;
    background-color: #191f2d;
    .title {
        color: white;
        text-shadow: 2px 2px 103px black;
    }
    .description {
        color:white;
        text-shadow: 2px 2px 5px black;
    }
}
.credits {
    color: #b1b1b1;
    font-size: 0.8rem;
    padding-bottom: 12px;
    position: absolute;
    transform: translate(0px, -31px);
}
@media (min-width:768px) {
    .hero-container-bg .main {
        //height: 600px;
        display: flex;
        align-items: center;
    }
}