.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
    h5 {
        font-weight: bolder;
    }
}
.step {
    hr {
        height: 3px;
        background-color: #c0c0c0;
    }
    .label {
        color: #c0c0c0;
    }
    .description {
        color: #c0c0c0;
    }
    &.active {
        .label {
            color: dodgerblue;
        }
        hr {
            background-color: dodgerblue;
        }
        .description {
            color: dodgerblue;
        }
    }
}
.block {
    margin-bottom: 1rem;
}