<div class="container-fluid">
    <div class="container animate__animated animate__fadeIn">
        <div *ngIf="!jobSent" class="row text-center pt-5 pb-5">
            <div class="col-md-12 col-lg-9 mx-auto">
                <h2><strong>Publique un Trabajo</strong></h2>
                <h5>y reciba solicitudes de aplicantes talentosos</h5>
                <div class="row mt-5 animate__animated animate__fadeInUp">
                    <div [class]="stepOne? 'col-4 step active' : 'col-4 step'">
                        <h5 class="label"><strong>Paso 1</strong></h5>
                        <hr>
                        <h5 class="description"><strong>Crear</strong></h5>
                    </div>
                    <div [class]="stepTwo? 'col-4 step active' : 'col-4 step'">
                        <h5 class="label"><strong>Paso 2</strong></h5>
                        <hr>
                        <h5 class="description"><strong>Revisar</strong></h5>
                    </div>
                    <div [class]="jobSent? 'col-4 step active' : 'col-4 step'">
                        <h5 class="label"><strong>Paso 3</strong></h5>
                        <hr>
                        <h5 class="description"><strong>Publicar</strong></h5>
                    </div>
                </div>
                <!--     -->
            </div>
        </div>
        <div class="row animate__animated animate__fadeInUp">
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="d-flex justify-content-between mb-4 ">
                    <h5 *ngIf="stepOne" class="float-start mb-0"><strong>Detalles de Posición</strong></h5>
                    <h5 *ngIf="stepTwo" class="float-start mb-0"><strong>Revisar Publicación</strong></h5>
                </div>
                <!-- step one-->
                <div *ngIf="stepOne" class="card">
                    <div class="card-body">
                        <div class="form">
                            <div class="form-group">
                                <label for="">Título de Posición</label>
                                <input [(ngModel)]="currentJob.title" type="text" [class]="noTitle? 'form-control is-invalid':'form-control'">
                                <label *ngIf="noTitle" class="danger">Recuerde agregar un titulo</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Categoría</label>
                                        <select [(ngModel)]="currentJob.category" [class]="noCategory? 'form-select is-invalid':'form-select'">
                                            <option selected value="Diseño">Diseño</option>
                                            <option value="Software">Software</option>
                                            <option value="IT / Devops">IT / Devops</option>
                                            <option value="RRHH">RRHH</option>
                                            <option value="Gerencia / Administración">Gerencia / Administración</option>
                                            <option value="Mecánica">Mecánica</option>
                                            <option value="Servicio al Cliente">Servicio al Cliente</option>
                                            <option value="Hotelería / Gastronomía / Turismo">Hotelería / Gastronomía / Turismo</option>
                                            <option value="Manufactura / Industria">Manufactura / Industria</option>
                                            <option value="Logística / Almacén">Logística / Almacén</option>
                                            <option value="Contabilidad / Finanzas">Contabilidad / Finanzas</option>
                                            <option value="Medicina / Salud">Medicina / Salud</option>
                                            <option value="Belleza">Belleza</option>
                                            <option value="Otros">Otros</option>
                                        </select>
                                        <label *ngIf="noCategory" class="danger">Recuerde agregar una categoría</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Horario</label>
                                        <select [(ngModel)]="currentJob.type" [class]="noType? 'form-select is-invalid':'form-select'">
                                            <option value="Tiempo Completo">Tiempo Completo</option>
                                            <option value="Medio Tiempo">Medio Tiempo</option>
                                            <option value="Freelance">Freelance</option>
                                            <option value="Contrato">Contrato</option>
                                        </select>
                                        <label *ngIf="noType" class="danger">Recuerde agregar un horario</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Compañía / Anunciante</h5>
                                <label>Compañía, agencia o reclutador a contactar</label>
                                <input [(ngModel)]="currentJob.company" type="text" [class]="noCompany? 'form-control is-invalid':'form-control'">
                                <label *ngIf="noCompany" class="danger">Recuerde agregar el nombre de la compañía o representante</label>
                            </div>
                            <div class="form-group">
                                <h5><strong>¿Esta posición es de trabajo remoto?</strong></h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <input (click)="remote(true)" class="form-check-input" type="radio" name="flexRadioDefault" id="isremote" checked>
                                            <label class="form-check-label" for="isremote">
                                            Si
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-check">
                                            <input (click)="remote(false)" class="form-check-input" type="radio" name="flexRadioDefault" id="isnotremote">
                                            <label class="form-check-label" for="isnotremote">
                                            No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h5>Ubicación</h5>
                                <select [(ngModel)]="currentJob.location" [class]="noLocation? 'form-select is-invalid':'form-select'">
                                    <option value="Santo Domingo" selected>Santo Domingo</option>
                                    <option value="Santiago">Santiago</option>
                                    <option value="Bavaro">Bavaro</option>
                                    <option value="La Romana">La Romana</option>
                                    <option value="Otro">Otro</option>
                                </select>
                                <label *ngIf="noLocation" class="danger">Recuerde agregar una ubicación</label>
                            </div>
                            <div class="form-group">
                                <h5><strong>Enlace para aplicar o email de contacto</strong></h5>
                                <label for="">Provea un enlace o email que puedan utilizar para contactarle</label>
                                <input [(ngModel)]="currentJob.link" type="text" [class]="noLink? 'form-control is-invalid':'form-control'">
                                <label *ngIf="noLink" class="danger">Recuerde agregar un enlace o email de contacto</label>
                            </div>
                            <div class="form-group">
                                <h5><strong>Descripción del Puesto</strong></h5>
                                <textarea [(ngModel)]="currentJob.description" [class]="noDescription? 'form-control is-invalid':'form-control'" cols="30" rows="5"></textarea>
                                <label *ngIf="noDescription" class="danger">Recuerde agregar una descripción del puesto</label>
                            </div>
                            <!-- job requirements -->
                            <hr>
                            <div class="form-group">
                                <h5>Requerimientos</h5>
                                <label for="" class="text-muted">Escriba un requerimiento y presione "Enter" ó haga click en <em>Agregar Requerimiento</em></label>
                                <div class="input-group">
                                    <input (keyup.enter)="addRequirement()" [(ngModel)]="newRequirement" type="text" class="form-control">
                                    <button class="btn btn-sm secondary" (click)="addRequirement()">Agregar Requerimiento <i class="bi bi-plus-lg"></i></button>
                                </div>
                                <!-- list of requirements -->
                                <ul class="list-group list-group-flush mt-3">
                                    <li *ngFor="let req of requirementsInMemory , let i = index" class="list-group-item">{{req.name}} 
                                        <span class="ms-4" placement="top" ngbTooltip="Remove this requirement">
                                            <span class="round-btn danger" (click)="removeRequirement(i)">
                                                <i class="bi bi-x"></i>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="form-group">
                                <h5>Beneficios</h5>
                                <label for="" class="text-muted">Escriba un beneficio y presione "Enter" ó haga click en <em>Agregar Beneficio</em></label>
                                <div class="input-group">
                                    <input (keyup.enter)="addBenefit()" [(ngModel)]="newBenefit" type="text" class="form-control form-control">
                                    <button class="btn btn-sm secondary" (click)="addBenefit()">Agregar Beneficio <i class="bi bi-plus-lg"></i></button>
                                </div>
                                <!-- list of requirements -->
                                <ul class="list-group list-group-flush mt-3">
                                    <li *ngFor="let ben of BenefitsInMemory, let i = index" class="list-group-item">{{ben.name}} 
                                        <span class="ms-4" placement="top" ngbTooltip="Remove this benefit">
                                            <span class="round-btn danger" (click)="removeBenefit(i)">
                                                <i class="bi bi-x"></i>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="stepTwo" class="card bg-light">
                    <div class="card-body">
                        <div class="block">
                            <label for="">Titulo de Posición</label>
                            <h4 class="text-capitalize">
                                <strong>{{currentJob.title}} - 
                                    <span *ngIf="currentJob.isremote">Remoto</span>
                                    <span *ngIf="!currentJob.isremote">Presencial</span>
                                </strong>
                            </h4>
                        </div>
                        <div class="block">
                            <label for="">Categoría</label>
                            <h5 class="mb-3 text-capitalize">{{currentJob.category}}</h5>
                        </div>
                        <div class="block">
                            <label for="">Horario</label>
                            <h5><i class="bi bi-clock-history"></i> {{currentJob.type}}</h5>
                        </div>
                        <div class="block">
                            <label>Compañía / Anunciante</label>
                            <h5 class="text-capitalize">{{currentJob.company}}</h5>
                        </div>
                        <div class="block">
                            <label>Ubicación</label>
                            <h5 class="text-capitalize">{{currentJob.location}}</h5>
                        </div>
                        <div class="block">
                            <label for="">Enlace o email para aplicar</label>
                            <h5>{{currentJob.link}}</h5>
                        </div>
                        <div class="block">
                            <label for="">Descripción del puesto</label>
                            <p>
                                {{currentJob.description}}
                            </p>
                        </div>
                        <div class="block">
                            <label for="">Requerimientos</label>
                            <ul>
                                <li *ngFor="let req of requirementsInMemory">{{req.name}}</li>
                            </ul>
                        </div>
                        <div class="block">
                            <label for="">Beneficios</label>
                            <ul>
                                <li *ngFor="let ben of BenefitsInMemory">{{ben.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="jobSent" class="d-flex align-items-center justify-content-center flex-column">
                    <img class="mb-4" width="128" src="./assets/icons/checkmark.png" alt="">
                    <h4 class="mb-4"><strong>¡Su trabajo ha sido publicado con éxito</strong></h4>
                    <a href="">
                        <div class="card sent">
                            <div class="card-body">
                                <label for="">Ir a la publicación</label>
                                <h5>{{currentJob.title}} <i class="bi bi-link-45deg"></i></h5>
                            </div>
                        </div>
                    </a>
                    <p>ó</p>
                    <button class="btn primary" (click)="clear()">Publicar otro trabajo</button>
                </div>
                <br>
                <!-- step buttons -->
                <!-- initial buttons-->
                <div *ngIf="stepOne">
                    <button class="btn primary float-end" (click)="validateForm()">Siguiente Paso: Revisar</button>
                </div>
                <div *ngIf="stepTwo">
                    <button class="btn secondary" (click)="goStepOne()">Volver al Paso Uno</button>
                    <button class="btn primary float-end" (click)="publish()">Paso Final: Publicar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="console">
    <div class="card bg-dark">
        <div class="card-body">
            <p>{{currentJob.title}}</p>
            <p>{{currentJob.category}}</p>
            <p>{{currentJob.type}}</p>
            <p>{{currentJob.isremote}}</p>
            <p>{{currentJob.link}}</p>
            <p>{{currentJob.description}}</p>
        </div>
    </div>
</div> -->