.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
    h5 {
        font-weight: bolder;
    }
    label {
        --bs-text-opacity: 1;
        color: #6c757d!important;
    }
}
.step {
    hr {
        height: 3px;
        background-color: #c0c0c0;
    }
    .label {
        color: #c0c0c0;
    }
    .description {
        color: #c0c0c0;
    }
    &.active {
        .label {
            color: dodgerblue;
        }
        hr {
            background-color: dodgerblue;
        }
        .description {
            color: dodgerblue;
        }
    }
}
.block {
    margin-bottom: 1rem;
}
.form-group label {
    &.danger {
        color: #dc3545 !important;
    }
}
.card.sent {
    min-width: 300px;
}