<div class="container-fluid bg-light">
    <div class="container">
        <section class="pt-4 pb-4">
            <h4><strong>Welcome, Bryan</strong></h4>
        </section>
        <section>
            <h5 class="mb-4"><strong>At a glance</strong></h5>
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2><i class="bi bi-person-badge"></i></h2>
                            <h3><strong>123</strong></h3>
                            <p>Total candidates</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2><i class="bi bi-person-plus-fill"></i></h2>
                            <h3><strong>10</strong></h3>
                            <p>New candidates</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2><i class="bi bi-laptop"></i></h2>
                            <h3><strong>3</strong></h3>
                            <p>Pending Interviews</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2><i class="bi bi-pencil-square"></i></h2>
                            <h3><strong>12</strong></h3>
                            <p>New Assesments</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 pb-4">
            <h5 class=""><strong>Active Jobs (12)</strong></h5>
        </section>
    </div>
</div>