<div class="container-fluid bg-light h-100 animate__animated animate__fadeIn">
    <div class="container">
        <section class="pt-4 pb-4">
            <h4><strong>Panel Administrativo</strong></h4>
        </section>
        <section>
            <h5 class="mb-4"><strong>Mis Vacantes (2)</strong></h5>
            <div class="row">
                <div class="col-12">
                    
                    <app-my-jobs></app-my-jobs>
                        
                </div>
            </div>
        </section>
    </div>
</div>