.block {
    padding: 0.66rem 0rem;
    h5 {
        font-weight: bolder;
    }
}
.badge {
    text-decoration: none;
    font-size: 0.8rem;
    //padding: 6px 8px 2px 8px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &.accent {
        color: #125ac3;
        background-color: #cfdfff;
        border: 1px solid #125ac3;
    }
}
#copyURL {
    cursor: pointer;
}
.share-btn-wrap {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    .share-btn {
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cfdfff;
        font-size: 1.5rem;
        border-radius: 100%;
        color: #0d6efd;
        transition: 0.2s ease;
        cursor: pointer;
        &.social {
            font-size: 1.2rem;
        }
        &:hover {
            width: 2.5rem;
            height: 2.5rem;
            transition: 0.2s ease;
        }
        i {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}