<div class="container-fluid">
    <div class="container animate__animated animate__fadeIn">
        <div class="row pt-5 pb-5">
            <div class="col-12 pt-5" *ngIf="notFound && loading">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </div>
            </div>
            <!-- job not found-->
            <div class="col-12" *ngIf="notFound && !loading">
                <app-not-found></app-not-found>
            </div>
            <div class="col-12" *ngIf="!notFound && !loading">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#"><i class="bi bi-chevron-left"></i> Volver al listado de vacantes</a></li>
                      <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
                    </ol>
                </nav>
                <div class="block">
                    <small class="text-uppercase">{{job.date}}</small>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="block">
                            <h2><strong>{{job.title}} <span *ngIf="job.isremote">- Remoto</span><span *ngIf="!job.isremote">- Presencial</span></strong></h2>
                        </div>
                        <div class="block">
                            <span class="badge accent text-uppercase">{{job.location}}</span>
                            <span class="badge accent text-uppercase">{{job.type}}</span>
                            <span class="badge accent text-uppercase">{{job.category}}</span>
                        </div>
                        <div class="block">
                            <h5>Descripción de Puesto</h5>
                            <p style="white-space:break-spaces !important;">
                                {{job.description}}
                            </p>
                        </div>
                        <div class="block" *ngIf="job.requirements">
                            <h5>Requisitos</h5>
                            <ul>
                                <li class="text-capitalize" *ngFor="let req of job.requirements">{{req.name}}</li>
                            </ul>
                        </div>
                        <div class="block" *ngIf="job.benefits">
                            <h5>Beneficios</h5>
                            <ul>
                                <li class="text-capitalize" *ngFor="let ben of job.benefits">{{ben.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 ms-lg-auto">
                        <div class="block">
                            <div class="card">
                                <div class="card-body bg-light" *ngIf="job.status == true">
                                    <h3><strong>Envía tu CV</strong></h3>
                                    <!-- <small class="text-muted text-uppercase">Empresa</small> -->
                                    <h5 class="mb-4">Contactar a {{job.company}}</h5>

                                    <!-- apply via link-->
                                    <a target="_blank" 
                                    class="btn btn-primary w-100" 
                                    *ngIf="job.link != ''" 
                                    href="{{job.link}}">
                                    Aplicar <i class="ms-1 bi bi-box-arrow-up-right"></i>
                                    </a> <!-- && job?.phone == undefined -->

                                    <!-- apply via email-->
                                    <a target="_blank" 
                                    class="btn btn-primary w-100" 
                                    *ngIf="job.email != ''" 
                                    href="mailto:{{job.email}}?subject=Vacante {{job.title}} via jobcafe.me">
                                    Enviar CV via email <i class="ms-1 bi bi-envelope-check"></i>
                                    </a> <!-- && job?.phone == undefined -->

                                    <!-- apply via whatsapp-->
                                    <a target="_blank" 
                                    class="btn btn-success w-100" 
                                    *ngIf="job?.phone != undefined && job?.phone != '' " 
                                    href="https://wa.me/1{{job.phone}}?text=Hola,%20me%20interesa%20aplicar%20para%20la%20vacante%20como%20{{titleToAscii}}%20publicada%20en%20jobcafe.me">
                                    Enviar CV por WhatsApp <i class="bi bi-whatsapp"></i>
                                    </a>
                                    
                                    <label *ngIf="job.link == '' && job?.phone == undefined " class="mt-2">Ó envia tu CV a <span class="text-primary">{{job.email}}</span></label>
                                    <br>
                                    <!-- share this position -->
                                    <div class="mt-4">
                                        <small class="text-muted text-uppercase">Compartir</small>
                                        <div class="d-flex mt-2">
                                            <div ngxClipboard [cbContent]="'https://jobcafe.me/#/job/' + job.key" class="share-btn-wrap me-2" placement="top" ngbTooltip="Compartir enlace">
                                                <div class="share-btn">
                                                    <i class="bi bi-link-45deg"></i>
                                                </div>
                                            </div>
                                            <a 
                                                target="_blank"
                                                href="https://api.whatsapp.com/send?text=Hola,%20creo%20que%20esta%20vacante%20como%20{{titleToAscii}}%20podr%C3%ADa%20interesarte%20https%3A%2F%2Fjobcafe.me%2F%23%2Fjob%2F{{job.key}}"
                                                class="share-btn-wrap me-2" 
                                                placement="top" 
                                                ngbTooltip="Compartir en WhatsApp">
                                                <div class="share-btn social">
                                                    <i class="bi bi-whatsapp"></i>
                                                </div>
                                            </a>
                                            <a  
                                                target="_blank"
                                                href="https://t.me/share/url?url=https%3A%2F%2Fjobcafe.me%2F%23%2Fjob%2F{{job.key}}&text=Hola,%20creo%20que%20esta%20vacante%20como%20{{titleToAscii}}%20podr%C3%ADa%20interesarte"
                                                class="share-btn-wrap me-2" 
                                                placement="top" 
                                                ngbTooltip="Compartir en Telegram">
                                                <div class="share-btn social">
                                                    <i class="bi bi-telegram"></i>
                                                </div>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-body bg-light" *ngIf="job.status == false">
                                    <h5>Vacante no disponible</h5>
                                    <p *ngIf="job.deleted == false">El anunciante ha deshabilitado esta vacante temporalmente.</p>
                                    <p *ngIf="job.deleted == true">El anunciante ha deshabilitado esta vacante permanentemente. Probablemente la posición ya ha sido cubierta o pasó la fecha límite para aplicar.</p>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
            </div>
        </div>
    </div>
</div>