<footer class=" pt-md-5 border-top">
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col-12 col-md-3">
              <small><strong>Magnet</strong></small>
              <small class="d-block mb-3 text-muted">©2022</small>
            </div>
            <div class="col-12 col-md-3">
              <h5>Enlaces</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/">Inicio</a></li>
                <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="courses">Cursos</a></li> -->
                <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="about">Sobre Magnet</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <h5>Contacto</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:admin@magnet.do">admin@magnet.do</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
              </ul>
            </div>
          </div>
    </div>
  </footer>