<footer class=" pt-md-5 border-top">
    <div class="container pt-3 pb-3">
        <div class="row">
            <!-- <div class="col-12 col-md-3">
              <small><strong>Magnet</strong></small>
              <small class="d-block mb-3 text-muted">©2022</small>
            </div> -->
            <div class="col-12 col-md-3">
              <h5>Enlaces</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="/">Inicio</a></li>
                <!-- <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="courses">Cursos</a></li> -->
                <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="about">Sobre Jobcafe</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <h5>Empresas</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a href="!#" class="link-secondary text-decoration-none" routerLink="registration-form">Registro</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <h5>Contacto</h5>
              <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="mailto:admin@jobcafe.me">admin@jobcafe.me</a></li>
              </ul>
            </div>
            <div class="col-12 col-md-3">
              <div class="siteseal" style="text-align:center"><div class="siteseal-img"><a href="https://aboutssl.org/ssl-tools/ssl-checker.php"><img src="https://aboutssl.org/ssl-tools/siteseal.php?siteseal=symantec-trust-seal.png" alt="symantec-trust-seal"></a></div><div class="siteseal-code"><a href="https://aboutssl.org/ssl-tools/ssl-checker.php">SSL Checker</a></div></div>
            </div>
        </div>
        <div class="row">
          <div class="d-flex justify-content-center w-100">
            <span><a href="https://triiiweb.com" target="_blank">Desarrollado por triiiweb.com <i style="color:rgb(203, 72, 96);" class="bi bi-suit-heart-fill ms-1"></i></a></span>
          </div>  
        </div>
    </div>
  </footer>