<h5 class="mb-4"><strong>Mis Vacantes ({{activeJobs.length}})</strong></h5>
<div class="card mb-3" *ngFor="let job of activeJobs">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2 col-sm-3">
                <label><small>Fecha</small></label>
                <p>{{job.date}}</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <label><small>Titulo</small></label>
                <p><a routerLink="/job/{{job.key}}" placement="top" ngbTooltip="Ir a la publicación" href="">{{job.title}} <i class="bi bi-box-arrow-up-right"></i></a></p>
            </div>
            <!-- <div class="col-lg-2 col-sm-3">
                <label>Visitas
                    <small class="text-secondary" placement="top" ngbTooltip="Cantidad de usuarios que han visto tu publicación"><i class="bi bi-info-circle-fill"></i></small>
                </label>
                <p>{{job.visits}} <i class="bi bi-bar-chart-fill"></i></p>
            </div> -->
            <div class="col-lg-2 col-sm-4">
                <label>
                    <small>Estado</small>
                    <small class="text-secondary ms-1" placement="top" ngbTooltip="Si esta 'Abierta' los usuarios visualizarán el boton de 'aplicar'"><i class="bi bi-info-circle-fill"></i></small>
                </label>
                <div class="form-group mb-3">
                    <div class="btn-group btn-group-sm btn-group-toggle" role="group" aria-label="Default button group">
                        <button (click)="changeStatus(true, job)" type="button" [class]="job.status? 'btn btn-sm btn-outline-dark active' : 'btn btn-sm secondary'">Abierta</button>
                        <button (click)="changeStatus(false, job)" type="button" [class]="!job.status? 'btn btn-sm btn-outline-dark active ms-2' : 'btn btn-sm ms-2'">Cerrada</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-8 ms-lg-auto">
                <label><small>Acciones</small></label>
                <br>
                <div class="btn-group btn-group-sm mb-3" role="group" aria-label="Basic outlined example">
                    <!-- <button type="button" class="btn btn-outline-primary">Editar</button> -->
                    <button (click)="deleteJob(job)" type="button" class="btn btn-outline-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div [class]="showModal? 'modal-bg' : 'modal-bg d-none'">
    <div class="modal-content animate__animated animate__fadeInUp">
        <div class="card">
            <!-- if the job hasn't been deleted -->
            <div class="card-body" *ngIf="!deleted">
                <div class="d-flex justify-content-between">
                    <h5><strong>Eliminar</strong></h5>
                    <button (click)="hideModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p>Esta vacante será eliminada</p>
                <div class="d-flex">
                    <button class="btn btn-transparent me-4" (click)="hideModal()">Atras</button>
                    <button class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
                </div>
            </div>
            <!-- once the job posting has been deleted -->
            <div class="card-body" *ngIf="deleted">
                <div class="d-flex justify-content-between">
                    <h5><strong>La vacante ha sido eliminada</strong></h5>
                    <button (click)="hideModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>