<div class="d-flex justify-content-center align-items-center flex-column text-center">
    <img width="100" src="/assets/img/undraw_the_search_s0xf.svg" alt="imagen que representa que la publicación no fue encontrada">
    <h1>Oooops</h1>
    <h5>La página que buscas no esta disponible o no existe</h5>
    <button class="btn primary mt-4" routerLink="/">Ir al portal principal</button>
    <p class="text-muted mt-4">
        Si consideras que esto es un error, contacta nuestro equipo de soporte en 
        <a href="mailto:admin@jobcafe.me">admin@jobcafe.me</a>

    </p>
</div>