<div class="container-fluid bg-light">
    <div class="container animate__animated animate__fadeIn">
        <div class="row pt-5 pb-5">
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
                        <h1><strong>Magnet es tuyo</strong></h1>
                        <h4 class="text-left">
                            Magnet es un portal abierto diseñado para atraer y conectar empresas y talentos. 
                        </h4>
                    </div>
                    <div class="col-lg-6 about-img">
                        <img class="w-100" src="/assets/img/undraw_air_support_re_nybl.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="row md-col-reverse">
                    <div class="col-lg-6 about-img">
                        <img class="w-100" src="/assets/img/undraw_people_search_re_5rre.svg" alt="">
                    </div>
                    <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
                        <h1><strong>Nuestra iniciativa</strong></h1>
                        <h4 class="text-left">
                            Simplificar el proceso de reclutamiento y busqueda de empleo para los profesionales y talentos 
                            de Republica Dominicana. 
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-start flex-column justify-content-center">
                        <h1><strong>Recursos</strong></h1>
                        <h4 class="text-left">
                            Brindamos herramientas para que el talento dominicano
                            se mantenga al frente en el mercado laboral.
                        </h4>
                        <!-- <a routerLink="/courses" class="stretched-link"><h4>Ver cursos</h4></a> -->
                    </div>
                    <div class="col-lg-6 about-img">
                        <img class="w-100" src="/assets/img/undraw_dev_focus_re_6iwt.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
            </div>
        </div>
    </div>
</div>