<div class="container-fluid">
    <div class="container animate__animated animate__fadeIn">
        <div class="row text-center p-5">
            <div class="col-md-12 col-lg-9 mx-auto">
                <h2><strong>Adquiere las habilidades que las empresas buscan</strong></h2>
                <h4>
                    Al aprender habilidades relevantes, incrementas tu valor en el mercado laboral
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-9 mx-auto">
                <div class="d-flex justify-content-between mb-4 ">
                    <h4 class="float-start mb-0"><strong>Cursos</strong></h4>
                    <!-- <div>
                        <select name="" id="" class="form-select float-end mb-2">
                            <option value="">Mas recientes</option>
                        </select>
                    </div> -->
                </div>
                <div class="grid animate__animated animate__fadeInUp">
                    <div class="grid-item">
                        <div class="card">
                            <img src="https://www.softzone.es/app/uploads-softzone.es/2022/01/Copiar-y-pegar-solo-celdas-visibles-en-Microsoft-Excel.jpg?x=950&y=580" alt="" class="card-img-left w-100">
                            <div class="card-body">
                                <h5 class="card-title"><strong>El unico curso de excel que necesitas en 2022</strong></h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipis</p>
                                <span class="text-muted">Para principiantes</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <img src="https://www.softzone.es/app/uploads-softzone.es/2022/01/Copiar-y-pegar-solo-celdas-visibles-en-Microsoft-Excel.jpg?x=950&y=580" alt="" class="card-img-left w-100">
                            <div class="card-body">
                                <h5 class="card-title"><strong>El unico curso de excel que necesitas en 2022</strong></h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipis</p>
                                <span class="text-muted">Para principiantes</span>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                            <img src="https://www.softzone.es/app/uploads-softzone.es/2022/01/Copiar-y-pegar-solo-celdas-visibles-en-Microsoft-Excel.jpg?x=950&y=580" alt="" class="card-img-left w-100">
                            <div class="card-body">
                                <h5 class="card-title"><strong>El unico curso de excel que necesitas en 2022</strong></h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipis</p>
                                <span class="text-muted">Para principiantes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>