/* You can add global styles to this file, and also import other style files */
//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
//@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,700;1,300;1,700&display=swap');
h1, h2, h3, strong span{
    font-family: kanitbold !important;
}
body, p, span, input, label, textarea, h4, h5, h6, ul li, a, li a {
    font-family: kanitlight !important;
}
@font-face {
    font-family: 'kanitbold';
    src: url('/assets/fonts/kanit-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'kanitlight';
    src: url('/assets/fonts/kanit-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
input, select, .card {
    border-radius: 0 !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

//typography and fonts

// -----  //

.console {
    color: lightgreen;
    position: fixed;
    top: 300px;
    right: 10px;
    width: 200px;
    font-family: monospace !important;
}
.fast {
    animation-duration: 0.2s !important;
}
body, html {
    height: 100%;
}
app-root {
    height: 100%;
    display: flex;
    flex-flow: column;
}
app-admin-panel, app-login, app-registration-form{
    flex: 1;
}
@media screen and (max-width:575px){
    .hide-sm {
        display: none;
    }
}
.btn-group-toggle {
    padding: 0.2rem;
    background-color: #eeeeee;
    border: 1px solid #22262a;
}
button.btn-link {
    text-decoration: none !important;
    text-align: start !important;
}
.card-divider {
    height: 2rem;
}
.numbered-bullet-list {
    list-style: none;
    padding: 0;
    li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .number {
        background-color: #0d6efd;
        width: 2rem;
        height: 2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-right: 0.5rem;
    }
    // .caption {
    //     label {

    //     }
    // }
}
.ngx-pagination {
    display: flex;
    justify-content: center;
    margin: 0 0 1rem 0 !important;
    padding: 1rem !important;
    .current {
        background: #0c6dfb !important;
        border-radius: 2px ;
    }
}
input::placeholder {
    color: #b4bbc5 !important;
}
.text-accent {
    color: #89b9ff;
}
.dark-bg {
    background-color: #131314;
}
.navbar {
    z-index: 2;
}